@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind with PostCSS setup */
@layer components {
  .delay-hide {
    transition:
      visibility 0.5s,
      opacity 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .delay-show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* Set sidebar background to slate-800 and adjust other colors for contrast */
    --sidebar-background: 210 20% 10%; /* Approximate HSL for slate-800 */
    --sidebar-foreground: 0 0% 95%; /* Light text color for contrast */
    --sidebar-primary: 0 0% 100%; /* White for primary elements */
    --sidebar-primary-foreground: 210 20% 30%; /* Light gray for primary foreground */
    --sidebar-accent: 240 3.7% 20%; /* Changed to a lighter shade */
    --sidebar-accent-foreground: 0 0% 100%; /* White for accent foreground */
    --sidebar-border: 210 20% 30%; /* Darker gray for borders */
    --sidebar-ring: 210 20% 40%; /* Medium gray for rings */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Ensure full viewport height */
}
