@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind with PostCSS setup */
@layer components {
  .delay-hide {
    transition:
      visibility 0.5s,
      opacity 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .delay-show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.no-scroll {
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Ensure full viewport height */
}
