/* FlowChart.css */
.flowchart {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.termContainer {
  flex-shrink: 0;
  min-width: 250px;
  max-width: 250px;
  background-color: #f8fafc; /* Equivalent to bg-slate-50 */
  border-left: 2px solid #e5e7eb; /* Equivalent to border-slate-200 */
  text-align: center;
  margin-right: 1rem;
}

.flowchart-container {
  display: flex;
  flex-direction: column;
}

.flowchart-header h1 {
  margin: 0;
  color: #fff;
}
